body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 20px;
}

.bandera {
    width: 300px;      
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.caja {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.rojo {
    background-color: #AD1519;
}

.amarillo {
    background-color: #FABD00;
}

.escudo {
    position: absolute;
    width: 70px;       
    left: 60px;        
    top: 65px;         
    pointer-events: none;
}