/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_flexible_box_layout/Basic_concepts_of_flexbox */

/* --------------------------------------------------
   FLEXBOX: conceptos básicos
   - Ejemplo 1: flex-direction (fila / columna)
   - Ejemplo 2: flex-wrap (salto de línea)
   - Ejemplo 3: justify-content (alineación horizontal)
   - Ejemplo 4: align-items (alineación vertical)
   -------------------------------------------------- */

/* Todos estos ejemplos tienen algo en común:
   1) El contenedor debe tener display: flex;
   2) Los hijos directos se convierten en flex-items. */

/******* PRIMER EJEMPLO: flex-direction *******/

.flex-ejemplo1 {              /* contenedor flex (obligatorio) */
  display: flex;              /* activa Flexbox*/
  background-color: rgb(253, 12, 253);
  flex-direction: row;     /* cómo se apilan los elementos: en filas (row) o columnas (column) */
}

.flex-ejemplo1 > div {        /* hijos directos del contenedor: flex-items */
  background-color: #f1f1f1;
  width: 25%;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}


/******* SEGUNDO EJEMPLO: flex-wrap *******/

.flex-ejemplo2 {              /* contenedor flex */
  display: flex;
  background-color: rgb(0, 171, 37);
  flex-wrap: wrap;            /* los elementos saltan de línea si no caben (nowrap se esconden) */
}

.flex-ejemplo2 > div{        /* flex-items */
  background-color: #f1f1f1;
  margin: 1rem;
  padding: 1rem;
}


/******* TERCER EJEMPLO: justify-content *******/

.flex-ejemplo3 {              /* contenedor flex */
  display: flex;
  background-color: rgb(242, 146, 37);
  justify-content: space-around;    /* los elementos hijos se alinean al centro / derecha / izquierda 
                                space-between / space-around /*/
}

.flex-ejemplo3 > div {        /* flex-items */
  background-color: #f1f1f1;
  margin: 1rem;
  padding: 2rem;
}

/******* CUARTO EJEMPLO: ALIGN-ITEMS *******/

.flex-ejemplo4 {              /* contenedor flex */
  display: flex;
  background-color: rgb(37, 37, 242);
  /*flex-direction: column; */ 
  align-items:baseline;    /* los elementos hijos se alinean en vertical. En función de la línea de texto:baseline;
                           En función de la línea de la caja: center / flex-start / flex-end */
}

.flex-ejemplo4 > div {        /* flex-items */
  background-color: #f1f1f1;
  margin: 1rem;
  padding: 1rem;
}